//font
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;700&display=swap");

//color variables
$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  color: $lightGray;
  min-height: 100vh;
  background-color: $lightGray;
}
.container {
  display: grid;
  grid-template-areas: "heading" "subscription" "why-us";
  grid-auto-columns: initial;
  grid-template-rows: 16.75rem 14.25rem 14.25rem;
  width: 83%;
  margin: 2rem auto auto auto;
  border-radius: 0.35rem;
  overflow: hidden;
  box-shadow: 0 0.35rem 1rem hsla(0, 0%, 0%, 0.1);
  .heading {
    grid-area: heading;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    h1 {
      color: $cyan;
      font-weight: 700;
      font-size: 1.3rem;
    }
    h2 {
      color: $brightYellow;
      font-size: 0.92rem;
      margin-top: 1.5rem;
      line-height: 1.3rem;
    }
    p {
      color: $grayishBlue;
      font-size: 0.85rem;
      margin-top: 1.2rem;
      line-height: 1.6rem;
    }
  }
  .subscription {
    grid-area: subscription;
    background-color: $cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    h3 {
      font-size: 1.12rem;
    }
    .price-per-month {
      display: flex;
      align-items: center;
      margin-top: 0.8rem;
      p:first-child {
        font-size: 1.9rem;
        font-weight: 700;
      }
      p:last-child {
        opacity: 0.5;
        margin-left: 0.8rem;
      }
    }
    > p {
      margin-bottom: 1.2rem;
    }
    .sign-up {
      width: 100%;
      height: 3rem;
      background-color: $brightYellow;
      border: none;
      border-radius: 0.3rem;
      box-shadow: 0 0.35rem 1rem hsla(0, 0%, 0%, 0.1);
      color: white;
      font-size: 0.95rem;
      font-weight: 700;
      font-family: "Karla", sans-serif;
    }
  }
  .why-us {
    grid-area: why-us;
    background-color: rgba($cyan, 0.8);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      font-size: 1.15rem;
    }
    p {
      font-size: 0.875rem;
      line-height: 1.45rem;
      opacity: 0.8;
      font-weight: 100;
      margin-right: 3.5rem;
    }
  }
}
footer {
  text-align: center;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  p {
    color: darken($grayishBlue, 20%);
    margin-bottom: 0.2rem;
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: darken($grayishBlue, 20%);
  }
  a:hover {
    color: $cyan;
    transition: 700ms;
  }
}

@media only screen and (min-width: 481px) and (max-width: 641px) {
  html {
    font-size: 3.2vw;
  }
}
@media only screen and (min-width: 640px) {
  .container {
    height: 29.7rem;
    width: 39.7rem;
    grid-template-areas: "heading heading" "subscription why-us";
    grid-template-rows: 45% 55%;
    grid-auto-columns: 1fr;
    .heading {
      padding: 2.5rem;
      h1 {
        font-weight: 700;
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.95rem;
        margin-top: 0.55rem;
      }
    }
    .subscription {
      padding: 2.5rem;
      .sign-up:hover {
        background-color: darken($brightYellow, 10%);
        border: 0.1rem solid white;
        cursor: pointer;
      }
      > p {
        margin-bottom: 0.8rem;
      }
    }
    .why-us {
      padding: 2.5rem;
      p {
        line-height: 1.5rem;
      }
    }
  }
}
